<div class="modal fade" id="orderForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title black-text text-center" id="exampleModalLabel">
          <%= t('views.order_form.title') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeOrderForm">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @order, remote: true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control', placeholder: t('views.order_form.placeholders.name') %>
            </div>
            <div class="form-group">
              <%= f.text_field :phone, class: 'form-control phone', placeholder: t('views.order_form.placeholders.phone'), type: 'tel', value: '+375' %>
            </div>
            <div class="form-group">
              <%= f.text_area :adress, class: 'form-control', placeholder: t('views.order_form.placeholders.adress') %>
            </div>
            <div class="form-group" hidden>
              <%= f.text_field :color, id: 'backpackColor' %>
            </div>
            <hr/>
            <%= f.submit t('views.order_form.submit'), class: 'btn btn-danger w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>