<div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title black-text text-center">
          <%= t('views.review_section.modal_title') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeReviewForm">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @review, remote: true do |form| %>
            <div class="form-group">
              <%= form.text_field :name, class: 'form-control', placeholder: t('views.review_section.placeholder.name') %>
            </div>
            <div class="form-group">
              <%= form.text_field :city, class: 'form-control', placeholder: t('views.review_section.placeholder.city') %>
            </div>
            <div class="form-group">
              <%= form.text_area :text, class: 'form-control', placeholder: t('views.review_section.placeholder.text') %>
            </div>
            <hr>
            <%= form.submit t('views.review_section.review_button'), class: 'btn btn-danger w-100' %>
        <% end %>
      </div>
    </div>
  </div>
</div>