
<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2><%= t('views.index.brand') %></h2>
      <p><%= t('views.index.slogan.line_1') %><br/>
          <%= t('views.index.slogan.line_2')%><br/>
          <%= t('views.index.slogan.line_3') %></p>
      <ul class="actions">
        <li><a href="#backpack-colors" class="button special" id="more"><%= t('views.index.buy') %></a></li>
      </ul>
    </div>
    <a href="#one" class="more scrolly"><%= t('views.index.more') %></a>
  </section>


  <section id="one" class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <%= image_tag 'ico_delivery.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.delivery') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <%= image_tag 'ico_payment.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.payment') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <%= image_tag 'ico_return.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.return') %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image"><%= image_tag 'light_logo.jpg' %></div><div class="content">
      <h2>Magna primis lobortis<br/>
        sed ullamcorper</h2>
      <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
    </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'furniture.jpg' %></div><div class="content">
      <h2>Tortor dolore feugiat<br />
        elementum magna</h2>
      <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
    </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'vynilon.jpg' %></div><div class="content">
      <h2>Augue eleifend aliquet<br />
        sed condimentum</h2>
      <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
    </div>
    </section>
  </section>

  <section id="backpack-colors" class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3">
        <%= image_tag @backpacks.first.image, class: 'img-thumbnail', id: 'image-backpack', alt: 'Backpack'%>
      </div>
      <div class="col-2"></div>

      <div class="col-3">
        <h2 class="black-text"><%= t('views.index.model') %></h2>
        <label class="black-text"><%= t('views.index.color_choice') %></label>
        <form class="custom-radios">
          <%= raw radio_color_tag @backpacks.first, checked: true %>
          <%= render @backpacks[1..-1] %>
        </form>
        <br>
        <button type="button" class="btn btn-outline-danger w-100" data-toggle="modal" data-target="#orderForm" id="preOrder">
          <%= t('views.index.buy_button') %>
        </button>
        <%= render 'components/order_form' %>
        <%= render 'components/order_notice' %>
      </div>
      <div class="col-2"></div>
    </div>
  </section>


  <!-- Three -->
  <section id="three" class="wrapper style3 special">
    <div class="inner">
      <header class="major">
        <h2>Accumsan mus tortor nunc aliquet</h2>
        <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
          fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
      </header>
      <ul class="features">
        <li class="icon fa-paper-plane-o">
          <h3>Arcu accumsan</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-laptop">
          <h3>Ac Augue Eget</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-code">
          <h3>Mus Scelerisque</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-headphones">
          <h3>Mauris Imperdiet</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-heart-o">
          <h3>Aenean Primis</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
        <li class="icon fa-flag-o">
          <h3>Tortor Ut</h3>
          <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
      </ul>
    </div>
  </section>

  <!-- CTA -->
  <section id="cta" class="wrapper style4">
    <div class="inner">
      <header>
        <h2>Arcue ut vel commodo</h2>
        <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
      </header>
      <ul class="actions vertical">
        <li><a href="#" class="button fit special">Activate</a></li>
        <li><a href="#" class="button fit">Learn More</a></li>
      </ul>
    </div>
  </section>


  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

</div>