
<!-- Page Wrapper -->
<div id="page-wrapper">

  <!-- Banner -->
  <section id="banner">
    <div class="inner">
      <h2><%= t('views.index.brand') %></h2>
      <p><%= t('views.index.slogan.line_1') %><br/>
          <%= t('views.index.slogan.line_2')%><br/>
          <%= t('views.index.slogan.line_3') %></p>
      <ul class="actions">
        <li><a href="#backpack-colors" class="button special" id="more"><%= t('views.index.buy') %></a></li>
      </ul>
    </div>
    <a href="#one" class="more scrolly"><%= t('views.index.more') %></a>
  </section>


  <section id="one" class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center card-icons">
          <%= image_tag 'ico_delivery.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.delivery') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center card-icons">
          <%= image_tag 'ico_payment.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.payment') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center card-icons">
          <%= image_tag 'ico_return.png', class: 'card-img-top'%>
          <div class="card-body">
            <p class="card-text"><%= t('views.index.return') %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper alt style2">
    <section class="spotlight">
      <div class="image"><%= image_tag 'light_logo.jpg' %></div><div class="content">
      <h2><%= t('views.index.second_section.first_block.title.line_1') %><br/>
          <%= t('views.index.second_section.first_block.title.line_2') %></h2>
      <p><%= t('views.index.second_section.first_block.text') %></p>
    </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'furniture.jpg' %></div><div class="content">
      <h2><%= t('views.index.second_section.second_block.title.line_1') %><br />
          <%= t('views.index.second_section.second_block.title.line_2') %></h2>
      <p><%= t('views.index.second_section.second_block.text') %></p>
    </div>
    </section>
    <section class="spotlight">
      <div class="image"><%= image_tag 'vynilon.jpg' %></div><div class="content">
      <h2><%= t('views.index.second_section.third_block.title') %></h2>
      <p><%= t('views.index.second_section.third_block.text') %></p>
    </div>
    </section>
  </section>

  <!-- More info -->

  <section id="more-info">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="more-info-title text-center">
            <%= t('views.index.more_info_section.title') %>
          </div>
          <br>
          <br>
          <br>
          <div class="more-info-text">
            <p><%= t('views.index.more_info_section.text') %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call -->

  <section id="call-section">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="call-text">
            <p class="call-block-text"><%= t('views.call_section.text.line_1')%><br>
              <%= t('views.call_section.text.line_2')%><br>
              <%= t('views.call_section.text.line_3')%><br>
              <%= t('views.call_section.text.line_4')%></p>
          </div>
          <%= render 'components/call_form' %>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </section>

  <!-- Backpacks -->

  <section id="backpack-colors" class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-3 image-backpack-block">
        <%= image_tag @backpacks.first.image, class: 'img-fluid', id: 'image-backpack', alt: 'Backpack'  %>
      </div>
      <div class="col-2"></div>

      <div class="col-3">
        <p class="black-text order-block-title up-1"><%= t('views.index.model') %></p>
        <label class="black-text choice-label-text"><%= t('views.index.color_choice') %></label>
        <hr>
        <form class="custom-radios">
          <%= raw radio_color_tag @backpacks.first, checked: true %>
          <% @backpacks[1..-1].each do |backpack| %>
            <%= raw radio_color_tag backpack %>
          <% end %>
        </form>
        <hr>
          <div class="row prices">
            <div class="col-md-6 backpack-new-price"><%= t('views.index.new_price') %></div>
            <s class="col-md-6 backpack-old-price"><%= t('views.index.old_price') %></s>
          </div>
          <div class="sale">
            <div class="backpack-sale">
              <%= t('views.index.sale.start') %>
              <b class="backpack-sale-percent"><%= t('views.index.sale.percent') %></b>
              <%= t('views.index.sale.end') %>
            </div>
          </div>
        <hr>
        <button class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#orderForm" id="preOrder">
          <%= t('views.index.buy_button') %>
        </button>
        <%= render 'components/order_form' %>
      </div>
      <div class="col-2"></div>
      <div class="col-1"></div>
      <div class="col-10">
        <h6 class="black-text text-center backpack-info">
          <%= t('views.index.info.material') %> |
          <%= t('views.index.info.weight') %> |
          <%= t('views.index.info.depth') %> |
          <%= t('views.index.info.height') %> |
          <%= t('views.index.info.width') %> |
          <%= t('views.index.info.volume') %> |
          <%= t('views.index.info.cashes') %>
        </h6>
      </div>
      <div class="col-1"></div>
    </div>
  </section>




  <!-- Girl(steps) -->
  <section id="girl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="girl-title text-center">
            <%= t('views.girl_section.title') %>
          </div>
          <hr>
          <div class="girl-step">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <%= image_tag 'girl_call.png', class: 'card-img-top'%>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="girl-step-title"><%= t('views.girl_section.steps.first.title') %></div>
                  <div class="girl-step-text"><%= t('views.girl_section.steps.first.text') %></div>
                  <div class="text-center">
                    <button class="btn btn-danger girl-button w-75" data-toggle="modal" data-target="#callModalForm"><%= t('views.call_section.button') %></button>
                  </div>
                  <%= render 'components/modal_call_form' %>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
          <div class="girl-step">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <%= image_tag 'girl_get.png', class: 'card-img-top'%>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="girl-step-title"><%= t('views.girl_section.steps.second.title') %></div>
                  <div class="girl-step-text"><%= t('views.girl_section.steps.second.text') %></div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
          <div class="girl-step">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-1">
                  <%= image_tag 'girl_pay.png', class: 'card-img-top'%>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="girl-step-title"><%= t('views.girl_section.steps.third.title') %></div>
                  <div class="girl-step-text"><%= t('views.girl_section.steps.third.text') %></div>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>


  <!-- Reviews -->
  <section id="reviews-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1 class="reviews-title"><%= t('views.review_section.title') %></h1>
          <button class="btn btn-danger w-50" data-toggle="modal" data-target="#reviewForm"><%= t('views.review_section.review_button') %></button>
          <%= render 'components/review_form' %>
        </div>
        <div class="col-md-6">
          <div id="reviews-list">
            <div class="card text-center">
              <div class="card-header">
                <%= t('views.review_section.reviews_list.title') %>
              </div>
              <div class="card-block reviews-body">
                <%= render @reviews %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- CTA -->
  <section id="cta" class="wrapper style4">
    <div class="inner">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'gallery/1.png', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'gallery/2.png', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'gallery/3.png', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'gallery/4.png', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'gallery/5.png', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'gallery/6.png', class: 'd-block w-100' %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>




  <!-- Footer -->
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; <%= t('views.index.footer') %></li>
    </ul>
  </footer>

</div>