<div class="container-fluid admin-panel">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1><%= t('views.admin_panel.orders') %></h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col"><%= t('views.admin_panel.name') %></th>
          <th scope="col"><%= t('views.admin_panel.phone') %></th>
          <th scope="col"><%= t('views.admin_panel.adress') %></th>
          <th scope="col"><%= t('views.admin_panel.color') %></th>
          <th scope="col"><%= t('views.admin_panel.control') %></th>
        </tr>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>
      <hr>
      <hr>
    </div>
    <div class="col-2"></div>
    <div class="col-4"></div>
    <div class="col-4">
      <h1><%= t('views.admin_panel.calls') %></h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col"><%= t('views.admin_panel.phone') %></th>
          <th scope="col"><%= t('views.admin_panel.control') %></th>
        </tr>
        </thead>
        <tbody>
        <%= render @calls %>
        </tbody>
      </table>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4">
      <hr>
      <hr>
      <h1><%= t('views.admin_panel.backpacks') %></h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col"><%= t('views.admin_panel.color') %></th>
          <th scope="col"><%= t('views.admin_panel.control') %></th>
        </tr>
        </thead>
        <tbody>
        <%= render @backpacks %>
        </tbody>
      </table>
    </div>
    <div class="col-4"></div>
  </div>
</div>