<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="LFOajI-KEf2ppe5ZoGqZBHc_jZvoL_phOTPwqBAKzOQ" />
    <meta name='wmail-verification' content='a9d9107d569f74eac63862ca8e26412e' />
    <meta name="yandex-verification" content="f7cdb9f1e9e9ab0d" />
    <%= favicon_link_tag asset_path('favicon.png') %>
    <title><%= t('views.layouts.title') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="landing">
    <%= yield %>
  </body>
</html>
